.wizardCard {
	max-width: 370px;
	border: 1px solid #ccc;
	border-radius: 8px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding: 38px;
	gap: 24px;
	background-color: var(--c-grey);
}

.wizardCardPlaceholder {
	display: block;
	width: 100%;
	height: 230px;
	overflow: hidden;
	object-fit: cover;
	border-radius: 5px;
	background-color: var(--c-light);
}

.wizardInfo {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	color: var(--c-light);
}

.wizardName {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.5;
	margin: 0;
}

.wizardBar {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	font-size: 18px;
	line-height: 1.2;
	width: 100%;
	height: 32px;
	background-color: var(--c-red);
}

.wizardBarMana {
	background-color: var(--c-blue);
}
