.rating {
	display: flex;

	&__star {
		border: none;
		background-color: transparent;
		padding: 0;
		cursor: pointer;
	}

	&__svg {
		fill: var(--c-grey);

		&_filled {
			fill: var(--c-gold);
		}
	}
}
