.header {
	display: flex;
	align-items: center;
	background-color: var(--c-grey);
	padding: 10px 30px;

	&__title {
		margin: 0;
		font-size: 32px;
		font-weight: bold;
		border-radius: 5px;
	}

	&__title,
	&__step {
		background-color: var(--с-grey-dark);
		color: var(--c-gold);
		padding: 10px 20px;
		position: relative;
	}

	&__step {
		font-size: 24px;
		&:last-child::after {
			content: "";
			position: absolute;
			right: -30px;
			top: -6px;
			border-width: 30px 0 30px 30px;
			border-style: solid;
			border-color: transparent transparent transparent var(--с-grey-dark);
		}
	}
}
