.auto {
	&__wrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 15px;
	}

	&__cta {
		display: flex;
		flex-direction: column;
		gap: 50px;

		&_modify {
			flex-direction: row;
			gap: 15px;
		}
	}

	&__btn {
	}
}
