@import 'normalize.css';

:root {
	--font-family: 'Merriweather', serif;
	--content-width: 1340px;
	--container-offset: 30px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	--c-light: #f3fcff;
	--c-dark: #000000;
	--c-dark-opacity: rgba(0, 0, 0, 0.7);
	--c-grey: #424242;
	--с-grey-dark: #2b2b2b;
	--c-gold: #f0e68c;
	--c-red: #ee3a3a;
	--c-blue: #2d73fc;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: var(--font-family);
}

.container {
	margin: 0 auto;
	padding: 0 var(--container-offset);
	max-width: var(--container-width);
}

img {
	height: auto;
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

.title {
	margin: 0;
	margin-bottom: 60px;
	font-size: 36px;
	text-align: center;
}

.pt-100 {
	padding-top: 100px;
}
