@import 'normalize.css';

@font-face {
	font-family: 'BluuNext';
	src: url('/fonts/BluuNext-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'BluuNext';
	src: url('/fonts/BluuNext-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'BluuNext';
	src: url('/fonts/BluuNext-Titling.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

:root {
	/* --font-family: 'Merriweather', serif; */
	--font-family: 'BluuNext', serif;
	--content-width: 1340px;
	--container-offset: 30px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	--c-light: #ffffff;
	--c-dark: #000000;
	--c-dark-opacity: rgba(0, 0, 0, 0.7);
	--c-dark-opacity-1: rgba(0, 0, 0, 0.2);
	--c-grey: #424242;
	--с-grey-dark: #2b2b2b;
	--c-gold: #f0e68c;
	--c-red: #ee3a3a;
	--c-blue: #2d73fc;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: var(--font-family);
	height: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 var(--container-offset);
	max-width: var(--container-width);
}

img {
	height: auto;
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

.title {
	margin: 0;
	margin-bottom: 20px;
	font-size: 36px;
	text-align: center;
	font-weight: bold;
}

.desc {
	margin: 0;
	margin-bottom: 60px;
	text-align: center;
	font-size: 18px;
}

.pt-100 {
	padding-top: 100px;
	padding-bottom: 80px;
}

.error {
	font-size: 12px;
	color: var(--c-red);
	opacity: 0.8;
	margin: 0;
}
